{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "http://api-bus-reg.webstap.ru",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/techPoints": {
      "get": {
        "tags": [
          "tech-point-controller"
        ],
        "summary": "Доступен только авторизованным пользователям",
        "operationId": "all",
        "parameters": [
          {
            "name": "districtId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Список пунктов ТО успешно получен",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TechPointDTO"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "tech-point-controller"
        ],
        "summary": "Доступен только авторизованным пользователям",
        "operationId": "update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechPointDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Пункт ТО успешно сохранен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechPointDTO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "tech-point-controller"
        ],
        "summary": "Доступен только авторизованным пользователям",
        "operationId": "add",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechPointDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Пункт ТО успешно создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechPointDTO"
                }
              }
            }
          }
        }
      }
    },
    "/techPoints/{techPointId}/schedule/{scheduleId}": {
      "put": {
        "tags": [
          "tech-point-controller"
        ],
        "summary": "Обновить расписание",
        "description": "Обновляет существующее расписание для указанного TechPoint.",
        "operationId": "updateSchedule",
        "parameters": [
          {
            "name": "techPointId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScheduleDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Расписание успешно обновлено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleDTO"
                }
              }
            }
          },
          "400": {
            "description": "Расписание не принадлежит указанному TechPoint",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleDTO"
                }
              }
            }
          },
          "404": {
            "description": "TechPoint или расписание не найдены",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleDTO"
                }
              }
            }
          }
        }
      }
    },
    "/districts": {
      "get": {
        "tags": [
          "district-controller"
        ],
        "summary": "Доступен только авторизованным пользователям",
        "operationId": "all_1",
        "responses": {
          "200": {
            "description": "Список округов успешно получен",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DistrictDTO"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "district-controller"
        ],
        "summary": "Доступен только авторизованным пользователям",
        "operationId": "update_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DistrictDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Округ успешно сохранен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistrictDTO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "district-controller"
        ],
        "summary": "Доступен только авторизованным пользователям",
        "operationId": "add_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DistrictDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Округ успешно создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistrictDTO"
                }
              }
            }
          }
        }
      }
    },
    "/cities": {
      "get": {
        "tags": [
          "city-controller"
        ],
        "summary": "Доступен только авторизованным пользователям",
        "operationId": "all_2",
        "responses": {
          "200": {
            "description": "Список городов успешно получен",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CityDTO"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "city-controller"
        ],
        "summary": "Доступен только авторизованным пользователям",
        "operationId": "update_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CityDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Город успешно сохранен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CityDTO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "city-controller"
        ],
        "summary": "Доступен только авторизованным пользователям",
        "operationId": "add_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CityDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Город успешно создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CityDTO"
                }
              }
            }
          }
        }
      }
    },
    "/techPoints/{techPointId}/schedule": {
      "post": {
        "tags": [
          "tech-point-controller"
        ],
        "summary": "Создать расписание для TechPoint",
        "description": "Создает новое расписание для указанного TechPoint.",
        "operationId": "createSchedule",
        "parameters": [
          {
            "name": "techPointId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScheduleDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Расписание успешно создано",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleDTO"
                }
              }
            }
          },
          "404": {
            "description": "TechPoint не найден",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleDTO"
                }
              }
            }
          }
        }
      }
    },
    "/auth/sign-up": {
      "post": {
        "tags": [
          "Аутентификация"
        ],
        "summary": "Регистрация пользователя",
        "operationId": "signUp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignUpRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Пользователь успешно создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JwtAuthenticationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/sign-in": {
      "post": {
        "tags": [
          "Аутентификация"
        ],
        "summary": "Авторизация пользователя",
        "operationId": "signIn",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignInRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Пользователь успешно авторизован",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JwtAuthenticationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/techPoints/{id}": {
      "get": {
        "tags": [
          "tech-point-controller"
        ],
        "summary": "Доступен только авторизованным пользователям",
        "operationId": "byId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Пункт ТО успешно получен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechPointDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "tech-point-controller"
        ],
        "summary": "Доступен только авторизованным пользователям",
        "operationId": "delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Пункт ТО успешно удален",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechPointDTO"
                }
              }
            }
          }
        }
      }
    },
    "/districts/{id}": {
      "get": {
        "tags": [
          "district-controller"
        ],
        "summary": "Доступен только авторизованным пользователям",
        "operationId": "byId_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Округ успешно получен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistrictDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "district-controller"
        ],
        "summary": "Доступен только авторизованным пользователям",
        "operationId": "delete_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Округ успешно удален",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistrictDTO"
                }
              }
            }
          }
        }
      }
    },
    "/cities/{id}": {
      "get": {
        "tags": [
          "city-controller"
        ],
        "summary": "Доступен только авторизованным пользователям",
        "operationId": "byId_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Город успешно получен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CityDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "city-controller"
        ],
        "summary": "Доступен только авторизованным пользователям",
        "operationId": "delete_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Город успешно удален",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CityDTO"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CityDTO": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "maxLength": 50,
            "minLength": 5,
            "type": "string",
            "description": "Наименование города",
            "example": "Краснодар"
          }
        },
        "description": "Город/населенный пункт"
      },
      "DistrictDTO": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "maxLength": 50,
            "minLength": 5,
            "type": "string",
            "description": "Наименование округа",
            "example": "Карасунский"
          },
          "city": {
            "$ref": "#/components/schemas/CityDTO"
          }
        },
        "description": "Округ"
      },
      "TechPointDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string",
            "description": "Наименование",
            "example": "ТО Октябрьская, 15"
          },
          "district": {
            "$ref": "#/components/schemas/DistrictDTO"
          }
        },
        "description": "Пункт ТО"
      },
      "LocalTime": {
        "type": "object",
        "properties": {
          "hour": {
            "type": "integer",
            "format": "int32"
          },
          "minute": {
            "type": "integer",
            "format": "int32"
          },
          "second": {
            "type": "integer",
            "format": "int32"
          },
          "nano": {
            "type": "integer",
            "format": "int32"
          }
        },
        "description": "Время окончания работы"
      },
      "ScheduleDTO": {
        "required": [
          "dayOfWeek"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "dayOfWeek": {
            "type": "integer",
            "description": "Номер дня недели от 1 до 7",
            "format": "int32",
            "example": 1
          },
          "techPoint": {
            "$ref": "#/components/schemas/TechPointDTO"
          },
          "working": {
            "type": "boolean",
            "description": "Рабочий день",
            "example": true
          },
          "startTime": {
            "$ref": "#/components/schemas/LocalTime"
          },
          "endTime": {
            "$ref": "#/components/schemas/LocalTime"
          }
        },
        "description": "Расписание пункта ТО"
      },
      "SignUpRequest": {
        "required": [
          "email",
          "username"
        ],
        "type": "object",
        "properties": {
          "username": {
            "maxLength": 50,
            "minLength": 5,
            "type": "string",
            "description": "Имя пользователя",
            "example": "Jon"
          },
          "email": {
            "maxLength": 255,
            "minLength": 5,
            "type": "string",
            "description": "Адрес электронной почты",
            "example": "jondoe@gmail.com"
          },
          "password": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "description": "Пароль",
            "example": "my_1secret1_password"
          }
        },
        "description": "Запрос на регистрацию"
      },
      "JwtAuthenticationResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "Токен доступа",
            "example": "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJhZG1pbiIsImV4cCI6MTYyMjUwNj..."
          }
        },
        "description": "Ответ c токеном доступа"
      },
      "SignInRequest": {
        "required": [
          "password",
          "username"
        ],
        "type": "object",
        "properties": {
          "username": {
            "maxLength": 50,
            "minLength": 5,
            "type": "string",
            "description": "Имя пользователя",
            "example": "Jon"
          },
          "password": {
            "maxLength": 255,
            "minLength": 8,
            "type": "string",
            "description": "Пароль",
            "example": "my_1secret1_password"
          }
        },
        "description": "Запрос на аутентификацию"
      }
    }
  }
}
